body{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 227, 227)!important;
    display: flex;
    /* overflow: hidden; */
}
#but{
    width: 45px;
    height: 90px;
    margin-top: 2px;
    background-color: white;
    margin-left: 1px;
    color: black;
    box-shadow: inset;
    flex: 1;
    border-color: rgb(237, 235, 235);
    font-size: larger;
}
.value{
    background-color: rgb(230, 227, 227)!important;
    font-weight: bolder;
    text-align: end;
    border: none;
    font-size: 36px;
    outline: none;
    margin-bottom: 5px;
}
#but:hover{
    background-color: rgb(200, 200, 200);
}
.keys{
    display: flex;
    align-items: stretch;
}
.keys button:hover {
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 0px 0px 4px rgba(180, 176, 176, 22)!important;
    -webkit-box-shadow:  0px 0px 4px rgba(180, 176, 176, 22)!important;
    
}
.se {
    color: black;
}
.se:hover {
    color: black;
}
#buttonTop{
    background-color: rgb(230, 227, 227);
    border: none;
    float: right;
}
.sh {
    background-color: white;
}
.mis{
    
    margin: 2px;
    display: flex;
    justify-content: space-between;   
}
.mis button{
    margin: 2px;
    background-color: rgb(230, 227, 227)!important;
   border: none;
}
.mis button:hover{
    background-color: rgb(183, 183, 183);
}
.exitbt:hover{
    color: aliceblue;
    background-color: rgb(215, 26, 26)!important;
}
.pa{
    background-color: rgb(199, 213, 253)!important;
}
.pa:hover{
    background-color: rgb(141, 170, 250)!important;
}
.pl{
    display: flex;
    justify-content: flex-end;
}
.btnBold{
    font-weight: bold!important;
}
.midbtn{
    display: flex;
    align-items: stretch;
    flex-grow: none!important;
    width: 500px;
    
}
.midbtn button{
    flex: 1;
    width: 79px!important;
    background-color: rgb(228, 228, 228)!important;
    border: none;
}

.midbtn #midbtnon:hover{
    background-color: rgb(200, 200, 200)!important;
}

.calculator_btn{
    background-color: rgb(236, 234, 234)!important;
}
.calculator_btn:hover{
    background-color: rgb(200, 200, 200)!important;
}
.mines{
    font-size: large;
}
.mines:hover{
    background-color: rgb(200, 200, 200)!important;
}
.squareIcon{
    font-size: large;
}
.squareIcon:hover{
    background-color: rgb(200, 200, 200)!important;
}
    /* On screens that are 992px wide or less, go from four columns to two columns */
     /* @media screen and (max-width: 600px) {
     } */
  .pi{
      font-size: 100;
  }
  .pi:hover{
    background-color: rgb(200, 200, 200)!important;
  }
  .column{
      display: flex;
  }
  .column h4{
      display: inline!important;
  }
  .column .histry{
      margin-right: 20px;
  }
  .grow{
    flex-grow: 2;
  }
  .parent{
      display: flex;
      width: 100%!important;
      height: 100%!important;
  }
.div_history{
    flex-grow: 0.3;
    display: flex;  
    flex-direction: column;
}
.histry{
    text-decoration: underline rgb(219, 118, 17)!important;
    text-underline-offset: 0.2em;
}